- var development = false;
block vars
	- var pagename = "default";
	- var pagetitle = "Default";
	- var description = "default";
	- var keywords = "default";
	- var title = "Func - Web mobile socia";
	- var image_url = "http://funcfunc.ru/img/func.gif";
	- var page_url = "http://funcfunc.ru/";
	- var page_description = "Используя прогресивные технологии мы делаем привлекательный дизайн и удобную функциональность. +7 (499) 653-77-96, +7 (812) 748-25-96. Главный офис: Санкт-Петербург, ул. Восстания, д.6 А, офис 77";
	- var site_title = "Func - Web mobile social";

doctype html
html(lang="ru", class="no-js")
	head
		meta(charset="UTF-8")
		title #{pagetitle} - Func
		meta(name="description", content="#{description}")
		meta(name="keywords", content="#{keywords}")
		link(rel="canonical", href="http://funcfunc.ru/")

		meta(property='og:title',content="#{title}")
		meta(property='og:description',content='#{page_description}')
		meta(property='og:url',content='#{page_url}')
		meta(property='og:site_name',content='#{site_title}')
		meta(property='og:image',content='#{image_url}')
		link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')


		meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
		if development
			link(rel="stylesheet", href="css/style.css")
		else
			link(rel="stylesheet", href="css/style.min.css")
		link(res="shortcut icon", type="image/x-icon", href="favicon.ico")
		script(src="js/vendor/modernizr-latest.js")
	body
		.content-wrap
			include block/header
			.content
				block content
		include block/footer
		script(src='js/vendor/jquery.1.9.1.min.js')
		script(src="//code.jquery.com/ui/1.11.0/jquery-ui.js")
		script(src="js/plugins.js")
		script(src="js/main.js")